<header class="mj-navbar d-none d-lg-block">
       <div class="navigation">
            <ul class="navbar d-flex flex-row flex-nowrap ">
                <li><a class="nav-link  mj-bg-icon" href="">敏捷毛绒</a></li>
                <li><a class="nav-link mall-bg-icon" href="">商城</a></li>
                <li><a class="nav-link blog-bg-icon" href="">博客</a></li>
                <li><a class="nav-link video-bg-icon" href="">播客</a></li>
                <li><a class="nav-link about-bg-icon" href="">关于我们</a></li>
                <li><a class="nav-link zgy-bg-icon" href="">找个样</a></li>
                <li><a class="nav-link zgm-bg-icon" href="" >找个毛</a></li>
            </ul>
        </div>
</header>

 